.poke-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 50px;
  border-color: black;
  font-family: 'VT323', monospace;
}

.next {
  height: 50px;
  width: 100px;
}

img {
  height: 200px;
  width: 200px;
}

.next,
.previous {
  margin: 10px;
  height: 25px;
}
.poke-card-container {
  display: flex;
  flex-wrap: wrap;
}
