.poke-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.next {
  height: 50px;
  width: 100px;
}

img {
  height: 100px;
  width: 100px;
}

.next {
  margin: 10px;
  height: 25px;
}

main {
  font-family: 'VT323', monospace;
}
